{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
        <div class="container justify-content-center">
            <div class="row container justify-content-center">
            {% if user.is_authenticated %}
                {% if posts %}
                <div class="col-md-4">
                    <a href="{% url 'add_post' %}" style="text-decoration: none">
                    <div class="card mt-3" style="height: 200px">
                        <div class="card-body">
                            <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                            <h5 class="card-title">Новое воспоминание</h5>
                        </div>
                    </div></a>
                </div>
                    {% for post in posts %}
                <div class="col-md-4">
                    <a href="{% url 'view_post' post.id %}" style="text-decoration: none">
                    <div class="card mt-3" style="height: 200px">
                        <div class="card-body">
                            <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                              </svg>
                            <h5 class="card-title">{{ post.title }}</h5>
                        </div>
                    </div></a>
                </div>
                    {% endfor %}
                {% else %}
                <div class = "col-md-4">
                    У вас нет ни одного воспоминания
                    <a href="{% url 'add_post' %}"><button class="btn btn-outline-secondary">
                        Добавить воспоминание
                    </button></a>
                </div>
        
            {% endif %}
        {% else %}
            Авторизуйтесь для того, чтобы просматривать и добавлять свои воспоминания
        {% endif %}
            </div>
        </div>  
        
{% endblock content %}